<!DOCTYPE html>
<html>
  <head>
      <title>Chippedhammer</title>
      <link href="static/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
        <label id="var1" style="font-size:120px">Nothing Doing</label>
        <label style="font-size:120px">&#176F</label><br>
        <label id="var2" style="font-size:120px">Nothing Doing</label>
        <label style="font-size:120px">&#176F</label>
    <br>
    <div id="chartContainer" style="height: 300px; width: 100%;">
	</div>
    <br>
    <div id="EV100" class="COValve">
        <h2>This tag</h2>
        <button type="button" onclick="" value="1" class="">Open</button>
        <button type="button" onclick="" value="0">Close</button>
    </div><br>
    <div id="EV101" class="COValve">
        <h2>This tag</h2>
        <button type="button" onclick="" value="1" class="">Open</button>
        <button type="button" onclick="" value="0">Close</button>
    </div><br>
    <div id="EV102" class="COValve">
        <h2>This tag</h2>
        <button type="button" onclick="" value="1" class="">Open</button>
        <button type="button" onclick="" value="0">Close</button>
    </div><br>
    <div id="EY100" class="">
        <h2>This tag</h2>
        <button type="button" onclick="" value="1" class="">On</button>
        <button type="button" onclick="" value="0">Off</button>
    </div><br>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/assets/canvasjs"></script>
    <script type="text/javascript" src="static/core.js"></script>
  </body>
</html>